h1{

    color: black;
}

body{

    background-color: aqua;
}

input{

  height: 30px;
  border: 20px;
  width: 200px;
  background-color: pink;
  
}

label{

    font-family: Comic Sans MS;
    font-size: 20px;
}

input[type="text"]::-webkit-input-placeholder{

    color: brown;
}

input[type="number"]::-webkit-input-placeholder{

    color: brown;
}

select{

    height: 30px;
  border: 30px;
  width: 200px;
  background-color: pink;
  text-align: center;
  color: black;


}

option{

   width: 20px;
   height: 40px;
}

.h55{


}

input[type="submit"]{

    background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    font-family: Noto Sans;
    font-size: 20px;
   width: 290px;
}
img{

    
}